.rsbi-widget {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  
  .calculate-btn {
    padding: 8px 12px;
    background-color: #106412;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .result {
    margin-top: 10px;
  }
  